/* CDN Fonts */
@import url('https://fonts.cdnfonts.com/css/noto-serif-kr');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.min.css');
@import url('https://fonts.cdnfonts.com/css/bruno-ace-2');

/* CSS Variables */
:root {
  --font-ko-main: 'Noto Serif KR', sans-serif;
  --font-ko-sub: 'Pretendard', sans-serif;
  --font-en-main: 'Bruno Ace', sans-serif;
  --color-primary: #e8e5e1;
  --color-secondary: #635955;
}