/* CDN Fonts */
@import url('https://fonts.cdnfonts.com/css/bruno-ace-2');

/* Font Faces - CDN Fonts */
@font-face {
    font-family: 'Cafe24SurroundAir';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

/* CSS Variables */
:root {
    --font-ko-main: 'Cafe24SurroundAir', sans-serif;
    --font-ko-sub: 'Cafe24SurroundAir', sans-serif;
    --font-en-main: 'Bruno Ace', sans-serif;
    --color-primary: #f7f0e5;
    --color-secondary: #605347;
}
